{% extends "admin/change_list.html" %}


{% block content_title %}
    <h1> Survey </h1>
{% endblock %}

{% block extrahead %}
    {{block.super}}

    <script>
        const data_tot_rating = {{pembelajaran|safe}};

        var pembeljaran = pertanyaan_f8();

        function pertanyaan_f8(){
            var data_list = [];

            for (var i = 0; i < data_tot_rating.length; i++){
                var data_value = new Object();

                data_value.title = data_tot_rating[i]['tanya'];

                var value_sangat_buruk = [];
                var value_buruk = [];
                var value_cukup = [];
                var value_baik = [];
                var value_sangat_baik = [];

                if (i === 0){
                    value_sangat_baik = [data_tot_rating[i]['sangat_baik'],0,0,0,0,0.0]
                    value_baik = [data_tot_rating[i]['baik'],0,0,0,0,0.0]
                    value_cukup = [data_tot_rating[i]['cukup'],0,0,0,0,0.0]
                    value_buruk = [data_tot_rating[i]['buruk'],0,0,0,0,0.0]
                    value_sangat_buruk = [data_tot_rating[i]['sangat_buruk'],0,0,0,0,0.0]
                } else if (i === 1){
                    value_sangat_baik = [0, data_tot_rating[i]['sangat_baik'], 0, 0, 0, 0, 0]
                    value_baik = [0, data_tot_rating[i]['baik'], 0, 0, 0,0, 0]
                    value_cukup = [0, data_tot_rating[i]['cukup'], 0, 0, 0,0, 0]
                    value_buruk = [0, data_tot_rating[i]['buruk'], 0, 0, 0,0, 0]
                    value_sangat_buruk = [0, data_tot_rating[i]['sangat_buruk'], 0, 0, 0, 0, 0]
                } else if (i === 2){
                    value_sangat_baik = [0, 0, data_tot_rating[i]['sangat_baik'], 0, 0, 0, 0]
                    value_baik = [0, 0, data_tot_rating[i]['baik'], 0, 0,0, 0]
                    value_cukup = [0, 0, data_tot_rating[i]['cukup'], 0, 0,0, 0]
                    value_buruk = [0, 0, data_tot_rating[i]['buruk'], 0, 0,0, 0]
                    value_sangat_buruk = [0, 0, data_tot_rating[i]['sangat_buruk'], 0, 0, 0, 0]
                } else if (i === 3){
                    value_sangat_baik = [0, 0, 0, data_tot_rating[i]['sangat_baik'], 0, 0, 0]
                    value_baik = [0, 0, 0, data_tot_rating[i]['baik'], 0,0, 0]
                    value_cukup = [0, 0, 0, data_tot_rating[i]['cukup'], 0,0, 0]
                    value_buruk = [0, 0, 0, data_tot_rating[i]['buruk'], 0,0, 0]
                    value_sangat_buruk = [0, 0, 0, data_tot_rating[i]['sangat_buruk'], 0, 0, 0]
                } else if(i === 4){
                    value_sangat_baik = [0, 0, 0, 0, data_tot_rating[i]['sangat_baik'], 0, 0]
                    value_baik = [0, 0, 0, 0, data_tot_rating[i]['sangat_baik'],0, 0]
                    value_cukup = [0, 0, 0, 0, data_tot_rating[i]['cukup'],0, 0]
                    value_buruk = [0, 0, 0, 0, data_tot_rating[i]['buruk'],0, 0]
                    value_sangat_buruk = [0, 0, 0, 0, data_tot_rating[i]['sangat_buruk'], 0, 0]
                } else if (i === 5){
                    value_sangat_baik = [0, 0, 0, 0, 0, data_tot_rating[i]['sangat_baik'], 0]
                    value_baik = [0, 0, 0, 0, 0, data_tot_rating[i]['baik'], 0]
                    value_cukup = [0, 0, 0, 0, 0, data_tot_rating[i]['cukup'], 0]
                    value_buruk = [0, 0, 0, 0, 0, data_tot_rating[i]['buruk'], 0]
                    value_sangat_buruk = [0, 0, 0, 0, 0, data_tot_rating[i]['sangat_buruk'], 0]
                } else if (i === 6){
                    value_sangat_baik = [0, 0, 0, 0, 0, 0, data_tot_rating[i]['sangat_baik']]
                    value_baik = [0, 0, 0, 0, 0, 0, data_tot_rating[i]['baik']]
                    value_cukup = [0, 0, 0, 0, 0, 0, data_tot_rating[i]['cukup']]
                    value_buruk = [0, 0, 0, 0, 0, 0, data_tot_rating[i]['buruk']]
                    value_sangat_buruk = [0, 0, 0, 0, 0, 0, data_tot_rating[i]['sangat_buruk']]
                }

                data_value.element = [{
                    label:'Sangat Buruk',
                    data:value_sangat_buruk,
                    backgroundColor: '#f15e83'
                },{
                    label:'Buruk',
                    data:value_buruk,
                    backgroundColor: '#46BFBD'
                },{
                    label:'Cukup',
                    data:value_cukup,
                    backgroundColor: '#fccd56'
                },{
                    label:'Baik',
                    data:value_baik,
                    backgroundColor: '#37474F'
                },{
                    label:'Sangat Baik',
                    data:value_sangat_baik,
                    backgroundColor:'#7E57C2'
                }];

                data_list.push(data_value)
            }

            return data_list
        }


        function pertanyaan_f9(){

            var data_server = {{pencarian_kerja|safe}};

            /*
            var data_list = [];

            for (var i = 0; i < data_server.length; i++){
                var data_object = new Object();

                data_object.title = data_server[i]['jawaban'];
                data_object.average = data_server[i]['average'];
                data_object.responden = data_server[i]['responden'];
                data_list.push(data_object)

            }
            */
            
            return data_server
        }

        function pertanyaan_f10(){
            var data_server ={{cari_kerja|safe}}
            return data_server;
        }

        function pertanyaan_f14(){
            var data_server = {{pertanyaa_f9|safe}}
            return data_server
        }
        
        function pertanyaa_f15(){
            var data_server = {{pertanyaan_10|safe}}
            return data_server
        }

        function pertanyaan_16(){
            var data_server = {{pertanyaan_f11|safe}}

            return data_server
        }
        
        function pertanyaan_17(){
            var data_server = {{pertanyaan_f12|safe}}
            
            return data_server;
        }

        function pertanyaan_18(){
            var data_server = {{pertanyaan_f13|safe}};
            return data_server;
        }

        function pertanyaan_19(){
            var data_server = {{pertanyaan_f14|safe}}
            return data_server;
        }


        function pertanyaan_20(){
            var data_server = {{pertanyaan_f15|safe}}
            return data_server;
        }

        function pertanyaan_21(){
            var data_server = {{pertanyaan_16|safe}}
            return data_server
        }

        function pertanyaan_22(){
            var data_server = {{pertanyaan_f17|safe}}
            return data_server
        }

        function pertanyaan_23(){
            var data_server = {{pertanyaa_f18|safe}}
            return data_server
        }

    </script>
    

{% endblock %}

{% block result_list %}


<!-- dfasfsdfasdfasdfas -->

    <div class="result">
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">Value</a></div></th>
                    <th><div class="text"><a href="#">Total Rata-Rata</a></div></th>
                    <th><div class="text"><a href="#">Total Koresponden</a></div></th>
                </tr>
            </thead>
            <tbody>
                {% for data in new_data_average %}
                <tr>
                    <td>{{data.0}}</td>
                    <td>{{data.1}}</td>
                    <td>{{data.2}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br><br>
    <div class="result">
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">Value</a></div></th>
                    <th><div class="text"><a href="#">Total</a></div></th>
                    <th><div class="text"><a href="#">Persentase</a></div></th>
                </tr>
            </thead>
            <tbody>
                {% for data in new_value_total %}
                <tr>
                    <td>{{data.0}}</td>
                    <td>{{data.1}}</td>
                    <td>{{data.2}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block pagination %}{% endblock %}

