{% extends "admin/change_list.html" %}


{% block content_title %}
    <h1> Survey </h1>
{% endblock %}

{% block extrahead %}
    {{block.super}}

    <script>
        const data_tot_rating = {{pembelajaran|safe}};

        var pembeljaran = pertanyaan_f8();

        function pertanyaan_f8(){
            var data_list = [];

            for (var i = 0; i < data_tot_rating.length; i++){
                var data_value = new Object();

                data_value.title = data_tot_rating[i]['tanya'];

                var value_sangat_buruk = [];
                var value_buruk = [];
                var value_cukup = [];
                var value_baik = [];
                var value_sangat_baik = [];

                if (i === 0){
                    value_sangat_baik = [data_tot_rating[i]['sangat_baik'],0,0,0,0,0.0]
                    value_baik = [data_tot_rating[i]['baik'],0,0,0,0,0.0]
                    value_cukup = [data_tot_rating[i]['cukup'],0,0,0,0,0.0]
                    value_buruk = [data_tot_rating[i]['buruk'],0,0,0,0,0.0]
                    value_sangat_buruk = [data_tot_rating[i]['sangat_buruk'],0,0,0,0,0.0]
                } else if (i === 1){
                    value_sangat_baik = [0, data_tot_rating[i]['sangat_baik'], 0, 0, 0, 0, 0]
                    value_baik = [0, data_tot_rating[i]['baik'], 0, 0, 0,0, 0]
                    value_cukup = [0, data_tot_rating[i]['cukup'], 0, 0, 0,0, 0]
                    value_buruk = [0, data_tot_rating[i]['buruk'], 0, 0, 0,0, 0]
                    value_sangat_buruk = [0, data_tot_rating[i]['sangat_buruk'], 0, 0, 0, 0, 0]
                } else if (i === 2){
                    value_sangat_baik = [0, 0, data_tot_rating[i]['sangat_baik'], 0, 0, 0, 0]
                    value_baik = [0, 0, data_tot_rating[i]['baik'], 0, 0,0, 0]
                    value_cukup = [0, 0, data_tot_rating[i]['cukup'], 0, 0,0, 0]
                    value_buruk = [0, 0, data_tot_rating[i]['buruk'], 0, 0,0, 0]
                    value_sangat_buruk = [0, 0, data_tot_rating[i]['sangat_buruk'], 0, 0, 0, 0]
                } else if (i === 3){
                    value_sangat_baik = [0, 0, 0, data_tot_rating[i]['sangat_baik'], 0, 0, 0]
                    value_baik = [0, 0, 0, data_tot_rating[i]['baik'], 0,0, 0]
                    value_cukup = [0, 0, 0, data_tot_rating[i]['cukup'], 0,0, 0]
                    value_buruk = [0, 0, 0, data_tot_rating[i]['buruk'], 0,0, 0]
                    value_sangat_buruk = [0, 0, 0, data_tot_rating[i]['sangat_buruk'], 0, 0, 0]
                } else if(i === 4){
                    value_sangat_baik = [0, 0, 0, 0, data_tot_rating[i]['sangat_baik'], 0, 0]
                    value_baik = [0, 0, 0, 0, data_tot_rating[i]['sangat_baik'],0, 0]
                    value_cukup = [0, 0, 0, 0, data_tot_rating[i]['cukup'],0, 0]
                    value_buruk = [0, 0, 0, 0, data_tot_rating[i]['buruk'],0, 0]
                    value_sangat_buruk = [0, 0, 0, 0, data_tot_rating[i]['sangat_buruk'], 0, 0]
                } else if (i === 5){
                    value_sangat_baik = [0, 0, 0, 0, 0, data_tot_rating[i]['sangat_baik'], 0]
                    value_baik = [0, 0, 0, 0, 0, data_tot_rating[i]['baik'], 0]
                    value_cukup = [0, 0, 0, 0, 0, data_tot_rating[i]['cukup'], 0]
                    value_buruk = [0, 0, 0, 0, 0, data_tot_rating[i]['buruk'], 0]
                    value_sangat_buruk = [0, 0, 0, 0, 0, data_tot_rating[i]['sangat_buruk'], 0]
                } else if (i === 6){
                    value_sangat_baik = [0, 0, 0, 0, 0, 0, data_tot_rating[i]['sangat_baik']]
                    value_baik = [0, 0, 0, 0, 0, 0, data_tot_rating[i]['baik']]
                    value_cukup = [0, 0, 0, 0, 0, 0, data_tot_rating[i]['cukup']]
                    value_buruk = [0, 0, 0, 0, 0, 0, data_tot_rating[i]['buruk']]
                    value_sangat_buruk = [0, 0, 0, 0, 0, 0, data_tot_rating[i]['sangat_buruk']]
                }

                data_value.element = [{
                    label:'Sangat Buruk',
                    data:value_sangat_buruk,
                    backgroundColor: '#f15e83'
                },{
                    label:'Buruk',
                    data:value_buruk,
                    backgroundColor: '#46BFBD'
                },{
                    label:'Cukup',
                    data:value_cukup,
                    backgroundColor: '#fccd56'
                },{
                    label:'Baik',
                    data:value_baik,
                    backgroundColor: '#37474F'
                },{
                    label:'Sangat Baik',
                    data:value_sangat_baik,
                    backgroundColor:'#7E57C2'
                }];

                data_list.push(data_value)
            }

            return data_list
        }


        function pertanyaan_f9(){

            var data_server = {{pencarian_kerja|safe}};

            /*
            var data_list = [];

            for (var i = 0; i < data_server.length; i++){
                var data_object = new Object();

                data_object.title = data_server[i]['jawaban'];
                data_object.average = data_server[i]['average'];
                data_object.responden = data_server[i]['responden'];
                data_list.push(data_object)

            }
            */
            
            return data_server
        }

        function pertanyaan_f10(){
            var data_server ={{cari_kerja|safe}}
            return data_server;
        }

        function pertanyaan_f14(){
            var data_server = {{pertanyaa_f9|safe}}
            return data_server
        }
        
        function pertanyaa_f15(){
            var data_server = {{pertanyaan_10|safe}}
            return data_server
        }

        function pertanyaan_16(){
            var data_server = {{pertanyaan_f11|safe}}

            return data_server
        }
        
        function pertanyaan_17(){
            var data_server = {{pertanyaan_f12|safe}}
            
            return data_server;
        }

        function pertanyaan_18(){
            var data_server = {{pertanyaan_f13|safe}};
            return data_server;
        }

        function pertanyaan_19(){
            var data_server = {{pertanyaan_f14|safe}}
            return data_server;
        }


        function pertanyaan_20(){
            var data_server = {{pertanyaan_f15|safe}}
            return data_server;
        }

        function pertanyaan_21(){
            var data_server = {{pertanyaan_16|safe}}
            return data_server
        }

        function pertanyaan_22(){
            var data_server = {{pertanyaan_f17|safe}}
            return data_server
        }

        function pertanyaan_23(){
            var data_server = {{pertanyaa_f18|safe}}
            return data_server
        }

    </script>
    

{% endblock %}

{% block result_list %}



<div class="bar">
        <canvas id='myChart' height="100"></canvas>
</div>

    <div class="result">
        <table>
            <thead>
                <tr>
                    <th>
                        <div class="text">
                            <a href="#">value</a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#">jawaban</a>
                        </div>
                    </th>
        
                </tr>
            </thead>

            <tbody>
                <!-- {% for k in survey %}
                <tr>
                    <td>{{k.0}}</td>
                    <td>{{k.1}}</td>
                    <td>{{k.2}}</td>
                </tr>
                {% endfor %} -->
            </tbody>
        </table>
    </div>

    <div class="result">
        <table>
            <thead>
                <tr>
                    <th>
                        <div class="text">
                            <a href="#">kategori</a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#">sangat buruk [1] </a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#">buruk [2]</a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#">cukup [3]</a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#">baik [4]</a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#">sangat baik [5]</a>
                        </div>
                    </th>
                </tr>
            </thead>


            <tbody>

                {% for data in pembelajaran %}
                <tr>
                    {% for key, value in data.items %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="bar">
        <canvas id='chart_9' height="100"></canvas>
    </div>

    <div class="result">
        <table>
            <thead>
                <tr>
                    <th>
                        <div class="text">
                            <a href="#">Kategori</a>
                        </div>
                    </th>
    
                    <th>
                        <div class="text">
                            <a href="#">average</a>
                        </div>
                    </th>
                    <th>
                        <div class="text">
                            <a href="#">responden</a>
                        </div>
                    </th>
                </tr>
            </thead>
            
            <tbody>
                    {% for data in pencarian_kerja %}
                <tr>
                    {% for k, v in data.items %}
                    <td>{{v}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}    
            </tbody>
        </table>
    </div>

    <br>

    <div class="bar">
        <canvas id="chart_line_10" height="100"></canvas>
    </div>

    <br>
    <div class="result">
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">value</a></div></th>
                    <th><div class="text"><a href="#">total</a></div></th>
                </tr>
            </thead>

            <tbody>

                {% for data in cari_kerja %}
                <tr>

                    {% for k, v in data.items %}
                        <td>{{v}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <div class="result">
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">Value</a></div></th>
                    <th><div class="text"><a href="#">Total</a></div></th>
                </tr>
            </thead>

            <tbody>
                
                <tr>
                    {% for data, value in pertanyaan_f6.items %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <br>

    <div class="bar">
        <canvas id="chart_line_12" height="100"></canvas>
    </div>
    <br>
    <div class="result">
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">value</a></div></th>
                    <th><div class="text"><a href="#">total</a></div></th>
                    <th><div class="text"><a href="#"> Total Responden</a></div></th>
                </tr>
            </thead>

            <tbody>
                {% for data in pertanyaan_f7 %}               
                <tr>
                    {% for k, v in data.items %}
                        <td>{{v}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <div class="result">
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">Value</a></div></th>
                    <th><div class="text"><a href="#"> Average</a></div></th>
                    <th><div class="text"><a href="#"> Total Responden</a></div></th>
                </tr>
            </thead>
            <tbody>
                {% for data in pertanyaan_f8 %}
                <tr>
                    {% for k, v in data.items %}
                    <td>{{v}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <div class="bar">
        <canvas id="chart_line_14" height="100"></canvas>
    </div>
    <br>
    <div class="result">
        <!-- 14   -->
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">Value_f9</a></div></th>
                    <th><div class="text"><a href="#">total</a></div></th>
                </tr>
            </thead>

            <tbody>
                {% for data in pertanyaa_f9 %}
                <tr>
                    {% for k, v in data.items %}
                        <td>{{v}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <div class="bar">
            <canvas id="chart_line_15" height="100"></canvas>
    </div>
    <br>
    <div class="result">
        <!-- 15 -->
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">value</a></div></th>
                    <th><div class="text"><a href="#">total</a></div></th>
                </tr>

            </thead>
            <tbody>
                {% for data in pertanyaan_10 %}
                <tr>
                    {% for k, v in data.items %}
                        <td>{{v}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>

    <div class="bar">
        <canvas id="chart_line_16" height="100"></canvas>
    </div>
    <br>
    <div class="result">

        <!-- 16 -->
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">value</a></div></th>
                    <th><div class="text"><a href="#">total</a></div></th>
                </tr>
            </thead>

            <tbody>

                {% for data in pertanyaan_f11 %}
                    <tr>
                        {%for k, v in data.items %}
                            <td> {{v}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>

    <div class="bar">
            <canvas id="chart_line_17" height="100"></canvas>
    </div>
    <br>
    <div class="result">
        <!-- 17 -->
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">jawaban</a></div></th>
                    <th><div class="text"><a href="#">total</a></div></th>
                </tr>
            </thead>
            <tbody>
                {% for data in pertanyaan_f12 %}
                <tr>
                    {% for k, v in data.items %}
                        <td>{{v}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>

    <div class="bar">
            <canvas id="chart_line_18" height="100"></canvas>
    </div>

    <br>
    <div class="result">
        <!-- 18 -->
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">jawaban</a></div></th>
                    <th><div class="text"><a href="#">average</a></div></th>
                </tr>
            </thead>
            <tbody>
                {% for data in pertanyaan_f13 %}

                <tr>
                    {% for k, v in data.items %}
                        <td>{{v}}</td>
                    {% endfor %}
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>


    <br>
    <div class="bar">
        <canvas id="chart_line_19" height="100"></canvas>
    </div>
    <br>
    <div class="result">
        <!-- 19 -->
        <table>
            <thead>
                    <tr>
                            <th><div class="text"><a href="#">jawaban</a></div></th>
                            <th><div class="text"><a href="#">sangat buruk</a></div></th>
                            <th><div class="text"><a href="#">buruk</a></div></th>
                            <th><div class="text"><a href="#">cukup</a></div></th>
                            <th><div class="text"><a href="#">baik</a></div></th>
                            <th><div class="text"><a href="#">sangat baik</a></div></th>
                        </tr>
            </thead>

            <tbody>
                {% for data in pertanyaan_f14 %}
                <tr>
                    {% for k, v in data.items %}
                        <td>{{v}}</td>
                    {%endfor%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <div class="bar">
        <canvas id="chart_line_20" height="100"></canvas>
    </div>
    <br>
    <div class="result">
        <!-- 20 -->
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">jawaban</a></div></th>
                    <th><div class="text"><a href="#">total</a></div></th>
                </tr>
            </thead>


            <tbody>
                {% for data in pertanyaan_f15 %}
                <tr>
                    {% for k, v in data.items %}
                        <td>{{v}}</td>
                    {% endfor %}

                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <div class="bar">
        <canvas id="chart_line_21" height="100"></canvas>
    </div>
    <br>
    <div class="result">
        <!-- 21-->
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">jawaban</a></div></th>
                    <th><div class="text"><a href="#">total</a></div></th>
                </tr>
            </thead>
            <tbody>
                {% for data in pertanyaan_16 %}
                <tr>
                    {% for k, v in data.items %}
                        <td>{{v}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <br>
    <div class="bar">
        <canvas id="chart_line_22" height="100"></canvas>
    </div>
    <br>
    <div class="result">
        <!-- 22 -->
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">value</a></div></th>
                    <th><div class="text"><a href="#">sangat baik</a></div></th>
                    <th><div class="text"><a href="#">baik</a></div></th>
                    <th><div class="text"><a href="#">cukup</a></div></th>
                    <th><div class="text"><a href="#">buruk</a></div></th>
                    <th><div class="text"><a href="#">sangat buruk</a></div></th>
                </tr>
            </thead>
            <tbody>
                {% for data in pertanyaan_f17 %}
                    
                    <tr>
                        
                        {%for k,v in data.items %}

                            <td>{{v}}</td>
                        {% endfor %}

                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <div class="bar">
        <canvas id="chart_line_23" height="100"></canvas>
    </div>
    <br>
    <div class="result">
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">value</a></div></th>
                    <th><div class="text"><a href="#">sangat baik</a></div></th>
                    <th><div class="text"><a href="#">baik</a></div></th>
                    <th><div class="text"><a href="#">cukup</a></div></th>
                    <th><div class="text"><a href="#">buruk</a></div></th>
                    <th><div class="text"><a href="#">sangat buruk</a></div></th>
                </tr>
            </thead>

            <tbody>
                
                {% for data in pertanyaa_f18 %}
                <tr>
                    {% for k, v in data.items %}
                    <td>{{v}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="result">
        <table>
            <thead>
                <tr>
                    <th><div class="text"><a href="#">Value</a></div></th>
                    <th><div class="text"><a href="#">Total Rata-Rata</a></div></th>
                    <th><div class="text"><a href="#">Total Koresponden</a></div></th>
                </tr>
            </thead>
            <tbody>
                {% for data in new_data_average %}
                <tr>
                    <td>{{data.0}}</td>
                    <td>{{data.1}}</td>
                    <td>{{data.2}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

   

{% endblock %}

{% block pagination %}{% endblock %}

